html 
{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}


h1 
{
  font-size: 70px;
  text-align: center;
}

body 

{

  width: 600px;
  margin: 0 auto;
  background-color: #d12709;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(0, 0, 0);
  
}

p, li 

{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}


html 
{
  background-color: #00539F;
}


h1 
{
  margin: 0;
  padding: 20px 0;
  color: #1b1db1;
  text-shadow: 3px 3px 1px rgb(0, 0, 0);
}

img 
{
  display: block;
  margin: 0 auto;
}
